@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  text-align: justify;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  padding: 0 15px;
  box-sizing: border-box;
}

.about-content img {
  width: 30%;
  float: left;
  margin-right: 2%;
}
.about-content p {
  margin-bottom: 2%;
}

@media (max-width: 1200px) {
  .about-me {
    max-width: 800px;
  }
}
@media (max-width: 1024px) {
  .about-me .about-me {
    width: 100%;
  }
}
/* Project cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: relative;
  margin: 0 5% 3% 5%;
  gap: 90px 5%;
  padding: 20px 10px 55px 10px;
}

.card {
  width: 80%;
  gap: 30px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.card h3 {
  color: #636851;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-self: center;
}

.card-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-links a {
  background-color: #99A285;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 0 20px 0 0;
  text-align: center;
}
.card-links a:hover {
  color: #636851;
}

.card-content {
  gap: 30px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.card-img {
  border-radius: 10px;
}

.card-competences {
  justify-content: center;
  gap: 30px;
  display: flex;
}
.card-competences img {
  height: 70px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .card-container {
    padding: 35px 0;
    gap: 35px;
  }
  .card {
    padding: 0;
    gap: 20px;
    width: auto;
  }
  .card h3 {
    font-size: 15px;
    width: auto;
  }
  .card-img {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .projects-container {
    margin-top: 15%;
  }
  .card-container {
    flex-direction: column;
    background: #fff;
    padding: 0 0 22px 0;
    gap: 20px;
    gap: 60px;
  }
  .card {
    width: 100%;
    padding: 0;
    flex-direction: column;
    gap: 25px;
  }
  .card h3 {
    margin-bottom: 0;
  }
  .card-img {
    width: 70%;
  }
  .card-content {
    margin: 5px 20px 20px 20px;
    gap: 25px;
  }
  .card-competences img {
    height: 4rem;
  }
}
.form {
  width: 35%;
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  gap: 50px;
}

.socials-img {
  width: 50px;
}

.formContainer {
  margin-top: 120px;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid #636851;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in;
}

.formElement {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.formElement input,
.formElement textarea {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #636851;
  resize: none;
}

.formButton {
  background-color: #99A285;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 100px;
  padding: 10px;
  margin-left: auto;
  font-weight: 600;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.formButton:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-5px) translateY(-5px);
}

@media (max-width: 1023.98px) {
  .form {
    width: 55%;
  }
}
@media (max-width: 767.98px) {
  .form {
    width: 90%;
    margin-top: -20%;
    gap: 30px;
  }
}
p {
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.container a {
  background-color: #99A285;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.timelines {
  text-align: center;
  margin-bottom: 8%;
}

.d-flex-2 {
  display: flex;
  align-items: center;
}

.all-timelines {
  position: relative;
}

.timelines h2 {
  text-align: center;
  color: #636851;
  font-weight: 600;
  margin-bottom: 40px;
}

.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 2px;
  background: #d64d3e;
  top: 10px;
}

.single-timeline {
  margin-bottom: 50px;
}

.timeline-blank {
  width: 50%;
}

.timeline-text {
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;
}

.timeline-text h6 {
  color: #636851;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 3%;
}

.timeline-text span {
  color: #636851;
  display: block;
  width: 100%;
}

.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}

.t-square {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #d64d3e;
}

.single-timeline:nth-child(even) {
  flex-direction: row-reverse;
}

.single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}

.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}
@media (max-width: 767.98px) {
  .timelines {
    margin-bottom: 15%;
  }
}
@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}
/* Filtres */
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
  gap: 0 20px;
}

.filter-btn {
  background-color: #fff;
  border: 1px solid #99A285;
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.filter-btn:hover {
  color: #636851;
}

.selected-filter {
  background-color: #99A285;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .filters {
    flex-wrap: wrap;
    margin: 50px 4%;
    gap: 20px;
  }
}
.skills-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  padding: 0 15px;
  box-sizing: border-box;
}

.skills-category {
  margin-bottom: 5%;
}
.skills-category h3 {
  margin-bottom: 5%;
}
.skills-category img {
  height: 50px;
}

.skills-line {
  width: 40px;
  height: 3px;
  background-color: #CACDA5;
  margin-top: -4%;
  margin-bottom: 3%;
}

.category-items {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.skill-point {
  padding: 20px 15px;
  border-radius: 90px;
  width: 3.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 34, 0, 0.1333333333);
  background-color: white;
}

@media (max-width: 1024px) {
  .skills-container {
    width: 100%;
    align-items: center;
  }
  .category-items {
    justify-content: center;
    gap: 8%;
  }
}
@media (max-width: 767.98px) {
  .category-items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 29px;
  gap: 30px;
}
footer p {
  color: white;
}

@media (max-width: 767.98px) {
  footer {
    padding-top: 0;
    padding-bottom: 0;
    height: 209px;
    justify-content: center;
    gap: 10px;
  }
  footer p {
    font-size: 12px;
    margin: 0 35%;
    text-align: center;
  }
}
h1 {
  color: #636851;
  font-size: 2.2rem;
}

h2 {
  margin-top: 40px;
  color: #636851;
  font-size: 40px;
  text-align: center;
}

header {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}
header img {
  width: 6%;
  margin-left: 10px;
  margin-top: 5px;
}

.banner-navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.nav-active {
  position: relative;
}
.nav-active p {
  color: #636851;
}
.nav-active ::after {
  content: "";
  height: 2px;
  width: 0;
  background: #636851;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}

@keyframes anim {
  to {
    width: 100%;
  }
}
.burger-nav {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  position: fixed;
  right: 1.5rem;
  top: 0.7rem;
  display: none;
}

.lang-toggle {
  background: none;
  border: none;
  color: #636851;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.lang-toggle:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 767.98px) {
  header {
    justify-content: center;
    width: 100%;
    padding: 5% 0 0 0;
    position: fixed;
    z-index: 1;
  }
  header img {
    display: none;
  }
  .banner-navbar {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    left: auto;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: #CACDA5;
    visibility: hidden;
  }
  .banner-navbar a {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding: 1rem 0;
  }
  .banner-navbar p {
    font-size: 4vw;
  }
  .show-nav {
    right: 0;
    left: 0;
    visibility: visible;
  }
  .nav-active ::after {
    bottom: 20%;
  }
  .burger-nav {
    display: block;
  }
  .burger-nav:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #636851;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .burger-nav.scrolled {
    display: none;
  }
  .lang-toggle {
    margin-top: 1rem;
  }
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  margin: 0 3% 5% 5%;
}

.about-pointlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: fixed;
  right: 5%;
  top: 200px;
}

.about-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point {
  padding: 20px 15px;
  border-radius: 90px;
  width: 2.5rem;
  text-align: center;
  cursor: pointer;
  background-color: #CACDA5;
}

.svg-inline--fa {
  font-size: 30px;
}

@media (max-width: 1023.98px) {
  .about-container {
    flex-direction: column-reverse;
    margin-top: 3%;
  }
  .about-pointlist {
    flex-direction: row;
    position: initial;
  }
}
@media (max-width: 767.98px) {
  .about-pointlist {
    gap: 20px;
  }
  .about-point p {
    font-size: 0.8em;
  }
  .about-container {
    margin-top: 15%;
  }
}
.contact-container {
  display: flex;
  justify-content: space-around;
  margin: 0 50px 50px 50px;
  flex-direction: column;
  margin-left: 5%;
  background-image: url(../assets/contactimg.webp);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.socials-list {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  padding: 30px;
  transition: all 0.2s ease-in;
}

.socials-container {
  display: flex;
  gap: 50px;
}

@media (max-width: 1023.98px) {
  .contact-container {
    margin-left: 5%;
    margin-top: -5%;
    background-size: 75%;
  }
}
@media (max-width: 767.98px) {
  .contact-container {
    margin: 0;
    align-items: center;
    background-size: contain;
    background-position: center;
    margin-top: 20%;
  }
}
.home-bg {
  background-image: url(../assets/home-bg.webp);
  background-repeat: no-repeat;
  height: 810px;
}

.intro-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.link-btn {
  background-color: #99A285;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.link-btn:hover {
  color: #636851;
}

.div-body {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  padding-top: 7%;
}

.introduction {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3%;
  border-radius: 20px;
}

@media (max-width: 1023.98px) {
  .div-body {
    display: flex;
    justify-content: center;
    margin-right: 0;
    padding-top: 15%;
  }
  .introduction {
    width: 45%;
    padding: 5%;
  }
  .introduction h1 {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .introduction {
    width: 80%;
    padding: 8% 5%;
  }
  .introduction h1 {
    font-size: 2rem;
  }
  .div-body {
    padding-top: 50%;
  }
}/*# sourceMappingURL=style.css.map */